.container{
    background-color: rgb(255, 181, 181);
    display: flex;
    flex-direction: row; 
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
}

.container > div {
    background-color: rgb(170, 170, 255);
    padding: 10px;
    border: 1px solid black;
    flex: auto;
    text-align: center;
}
